<div class="container col-md-7">
    <form [formGroup]="form" novalidate>
        <table cellspacing="0">
            <tr>
                <td>
                    <md-form-field>
                        <input mdInput placeholder="City" [formControl]="controls.city" required>
                    </md-form-field>
                </td>
                <td>
                    <md-form-field>
                        <input mdInput placeholder="Street" [formControl]="controls.street" required>
                    </md-form-field>
                </td>
                <td>
                    <md-form-field>
                        <input mdInput #postal maxlength="5" placeholder="Postal code" value="94043"
                               [formControl]="controls.postalCode">
                        <md-hint align="end">{{ postal.value.length }} / 5</md-hint>
                    </md-form-field>
                </td>
                <td>
                    <button type="button"md-icon-button (click)="onRemove.emit(address.id)">
                        <md-icon>highlight_off</md-icon>
                    </button>
                </td>
            </tr>
            <tr *ngFor="let phone of phones">
                <td>
                <phone-array-form
                    [phone]="phone"
                    [parentId]="form">
                </phone-array-form>
                </td>
            </tr>
        </table>
    </form>
</div>
